appdirs
black
blis
catalogue
certifi
chardet
charset-normalizer
click
cymem
distlib
docopt
fastdiff
filelock
fpdf2
greenlet
idna
Jinja2
langcodes
MarkupSafe
murmurhash
mypy-extensions
numpy
opencv-python
packaging
parameterized
pathspec
pathy
Pillow
pipenv
playwright
preshed
pydantic
pyee
pyparsing
pypdftk
pysrt
python-dotenv
regex
requests
rope
six
smart-open
snapshottest
spacy-legacy
spacy-loggers
srsly
srt
termcolor
thinc
toml
tqdm
typed-ast
typer
typing-extensions
urllib3
virtualenv
virtualenv-clone
Wand
wasabi
wasmer
wasmer_compiler_cranelift
websockets
webvtt-py
